<ion-view style="" id="page2" title="Dashboard">
    <ion-content class="has-header" padding="true">
        <div style="margin: 0px; line-height: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center;">
            <i style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" class="icon ion-image"></i>
        </div>
        <div style="" class="list card">
            <div class="item item-divider">Recent Updates</div>
            <div class="item item-body"></div>
        </div>
        <div style="" class="list card">
            <div class="item item-divider">Health</div>
            <div class="item item-body"></div>
        </div>
    </ion-content>
</ion-view>